<div class="container text-left">
  <h1 class="text-center">
    weed'em and reap
  </h1>
  <div class="row">
    <div class="col-sm-6">
      <label>Mother</label><br>
      <input [(ngModel)]="mother"/><br>
      <label>Propagation</label><br>
      <input [(ngModel)]="propagation"/><br>
      <label>Room</label><br>
      <input [(ngModel)]="room"/><br>
      <button class="btn-primary" (click)="onClick()">Calculate!</button>
    </div>
    <div class="col-sm-6">
      <h2>TOTAL YIELD</h2>
      <div *ngIf="waste && yield" class="height">{{ (yield).toFixed(2) }}g</div>
      </div>
  </div>
</div>